# Ignore CMake files
CMakeFiles/
CMakeCache.txt
CMakeScripts/

# Ignore shell files
*.sh
*.zsh
*.ps1

# Ignore Python __pycache__ directories
__pycache__/

# Other files of no interest
*.log
*.tmp
*.swp
