# Ignore CMake files
CMakeFiles/
CMakeCache.txt
CMakeScripts/
Simulation\build


# Ignore shell files
*.sh
*.zsh
*.ps1

# Ignore Python __pycache__ directories and install
Implementation\inference\sub_modules\__pycache__
Simulation\build
Simulation\log
Simulation\install

# Other files of no interest
*.log
*.tmp
*.swp
